* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .inputs-area{
    padding:1em 2em;

  }
  .input {
    background-color: #111111;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.5rem;
    padding:0.8em 0.5em;
    color:white;
    width:100%;
    box-shadow: 1px 8px 19px rgba(0,0,0,0.80) ;
    height: 200px;
    /* animation:move 5s linear infinite; */
    transform: translate(0,0);
  }
  @keyframes move {
      0%{
        transform: translate(0,0);
      }25%{transform: translate(0,10px);}
      50%{
        transform: translate(0,0);
      }75%{transform: translate(0,20px)}100%{transform: translate(0,0);}
  }
  .header{
      color:rgb(221, 221, 221);
      text-align: center;
      margin:2em;
      font-weight: 300;
      font-size:1.9rem;
  }
.small{
    font-size: 1.5rem;
    text-align: inherit;
    margin:1em;
}
strong{
    color:rgb(0, 146, 214)
}
.btn-send{
    padding:0.8em 2em;font-size: 1.2em;
    color:rgb(0, 146, 214);
    border-radius: 8px;
    margin:36px 29px; 
    background-color:rgba(0,0,0,0.80);
    box-shadow: 1px 8px 19px rgba(0,0,0,0.80) ;
    font-weight: 500;
}
.btn-send:hover,.btn-send:focus{
    color:rgb(255, 255, 255); 
    background-color:rgba(36, 36, 36, 0.8);
    cursor: pointer;
}
.btn-clear{
  padding:0.8em 2em;font-size: 1.2em;
  color:rgba(255, 0, 0, 0.8);
  border-radius: 8px;
  margin:36px 29px; 
  background-color:rgba(0,0,0,0.80);
  /* border:1px solid rgba(255, 0, 0, 0.8); */
  box-shadow: 1px 8px 19px rgba(0,0,0,0.80) ;
  font-weight: 500;
}
.btn-clear:hover,.btn-clear:focus{
  color:rgb(255, 255, 255); 
  background-color:rgba(36, 36, 36, 0.8);
  cursor: pointer;
}